*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  color: black;
  flex-direction: column;
  width: 800px;
  align-items: center ;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: darkgreen;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  background-color: darkred;
}

h1 {
  color: white;
  align-items: center;
}

h2 {
  align-items: center;
  display: flex;
}

img {
  width: 30em;
  height: 30em;
}